<% provide(:title, "Abstraction") %>
<div class="container-1">
  <h2>Abstraction</h2>
  <%# Beginning of the carousel %>
  <div id="carouselExampleIndicators" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%# Beginning of the 1st grid %>
        <div class="container-abs">
        
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
            <div class="content-img">
              <img src="../assets/57_Souvenir_dune_amie_tres_lointaine_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Souvenir d'une amie très lointaine</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/57_Souvenir_dune_amie_tres_lointaine_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Souvenir d'une amie très lointaine</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal2">
            <div class="content-img">
              <img src="../assets/48_Varadeiro_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Varadeiro</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/48_Varadeiro_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Varadeiro</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal3">
            <div class="content-img">
              <img src="../assets/108_Dernier_jour_a_Epidaure_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Dernier jour à Épidaure</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/108_Dernier_jour_a_Epidaure_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Dernier jour à Épidaure</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal4">
            <div class="content-img">
              <img src="../assets/40_effraction_digitale81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Effraction digitale</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/40_effraction_digitale81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Effraction digitale</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal5">
            <div class="content-img">
              <img src="../assets/52_acronyme_d'un_amalgame_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Acronyme d'un amalgame</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/52_acronyme_d'un_amalgame_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Acronyme d'un amalgame</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal6">
            <div class="content-img">
              <img src="../assets/68_Ebauche_incomplete_dune_memoire_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Ébauche incomplète d'une mémoire</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/68_Ebauche_incomplete_dune_memoire_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Ébauche incomplète d'une mémoire</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal7">
            <div class="content-img">
              <img src="../assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>En tout état de cause</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">En tout état de cause</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal8">
            <div class="content-img">
              <img src="../assets/73_Sursis_pour_Charles_Martel_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Sursis pour Charles Martel</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/73_Sursis_pour_Charles_Martel_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Sursis pour Charles Martel</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal9">
            <div class="content-img">
              <img src="../assets/61_Troubles_occasionnels_de_la_mémoire_81cmx65cm.jpg" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Troubles occasionels de la mémoire</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/61_Troubles_occasionnels_de_la_mémoire_81cmx65cm.jpg" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Troubles occasionels de la mémoire</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal10">
            <div class="content-img">
              <img src="../assets/54_Villegiature_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Villégiature</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/54_Villegiature_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Villégiature</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal11">
            <div class="content-img">
              <img src="../assets/131_Archipel_V_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Archipel V</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/131_Archipel_V_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Archipel V</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal12">
            <div class="content-img">
              <img src="../assets/129_Mykonos_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Mykonos</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/129_Mykonos_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Mykonos</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal13">
            <div class="content-img">
              <img src="../assets/39_Jurisprudence_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Jurisprudence</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/39_Jurisprudence_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Jurisprudence</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal14">
            <div class="content-img">
              <img src="../assets/112_Ecoutez_Wolfgang_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Toujours pauvre</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/112_Ecoutez_Wolfgang_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Toujours pauvre</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal15">
            <div class="content-img">
              <img src="../assets/104_Eugene_dans_le_tiroir_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Eugène dans le tiroir</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/104_Eugene_dans_le_tiroir_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Eugène dans le tiroir</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal16">
            <div class="content-img">
              <img src="../assets/86731261_3131630627062198_8178105704293335040_o.jpg" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Vocabulaire</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal16" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/86731261_3131630627062198_8178105704293335040_o.jpg" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Vocabulaire</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
        </div>
        <%# End of the 1st grid %>
      </div>
      <div class="carousel-item">
        <%# Beginning of the 2nd grid %>
        <div class="container-portrait">
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal17">
            <div class="content-img">
              <img src="../assets/115_Toutes_choses_confondues_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Toutes choses confondues</h4>
                <p>1m x 1m</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal17" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/115_Toutes_choses_confondues_1mx1m.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Toutes choses confondues</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal18">
            <div class="content-img">
              <img src="../assets/33_Jours_tranquilles_a_Babylone_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Jours tranquilles à Babylone</h4>
                <p>1m x 1m</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal18" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/33_Jours_tranquilles_a_Babylone_1mx1m.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Jours tranquilles à Babylone</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal19">
            <div class="content-img">
              <img src="../assets/116_Soit_dit_en_passant_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Soit dit en passant</h4>
                <p>1m x 1m</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal19" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/116_Soit_dit_en_passant_1mx1m.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Soit dit en passant</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal20">
            <div class="content-img">
              <img src="../assets/32_Epiphanie_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Épiphanie</h4>
                <p>1m x 1m</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal20" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/32_Epiphanie_1mx1m.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Épiphanie</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal21">
            <div class="content-img">
              <img src="../assets/30_Fidelite_a_Paul_Verlaine_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Fidelité à Paul Verlaine</h4>
                <p>1m x 1m</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal21" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/30_Fidelite_a_Paul_Verlaine_1mx1m.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Fidelité à Paul Verlaine</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal22">
            <div class="content-img">
              <img src="../assets/31_Citadelle_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Citadelle</h4>
                <p>1m x 1m</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal22" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/31_Citadelle_1mx1m.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Citadelle</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal23">
            <div class="content-img">
              <img src="../assets/117_Deux_jours_plus_tard_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Deux jours plus tard</h4>
                <p>1m x 1m</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal23" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/117_Deux_jours_plus_tard_1mx1m.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Deux jours plus tard</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal24">
            <div class="content-img">
              <img src="../assets/26_Equinoxe_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Équinoxe</h4>
                <p>1m x 1m</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal24" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/26_Equinoxe_1mx1m.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Équinoxe</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal25">
            <div class="content-img">
              <img src="../assets/125_Accroc_au_porte_jaretelles_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Accroc au porte-jaretelles</h4>
                <p>1m x 1m</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal25" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/125_Accroc_au_porte_jaretelles_1mx1m.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Accroc au porte-jaretelles</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal26">
            <div class="content-img">
              <img src="../assets/34_Apres_Fukushima_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Après Fukushima</h4>
                <p>1m x 1m</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal26" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/34_Apres_Fukushima_1mx1m.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Après Fukushima</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal27">
            <div class="content-img">
              <img src="../assets/29_Chute_de_Saint_Jean_D'Acre_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Chute de Saint Jean d'Acre</h4>
                <p>1m x 1m</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal27" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/29_Chute_de_Saint_Jean_D'Acre_1mx1m.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Chute de Saint Jean d'Acre</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal28">
            <div class="content-img">
              <img src="../assets/121061539_371310894053328_3040811368103126819_n.jpg" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>121061539_371310894053328_3040811368103126819_n</h4>
                <p>1m x 1m</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal28" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/121061539_371310894053328_3040811368103126819_n.jpg" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">121061539_371310894053328_3040811368103126819_n</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>
        
        </div>     
        <%# End of the 2nd grid %>
      </div>
      <div class="carousel-item">
        <%# Begining of the 3rd grid %>
        <div class="container-abs">
        
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal29">
            <div class="content-img">
              <img src="../assets/karthoum.bazar@.com.jpg" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>karthoum.bazar@.com</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal29" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/karthoum.bazar@.com.jpg" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">karthoum.bazar@.com</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal30">
            <div class="content-img">
              <img src="../assets/Mozart_est_mort_seul.jpg" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Mozart est mort seul</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal30" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/Mozart_est_mort_seul.jpg" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Mozart est mort seul</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal31">
            <div class="content-img">
              <img src="../assets/108_Dernier_jour_a_Epidaure_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Dernier jour à Épidaure</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal31" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/108_Dernier_jour_a_Epidaure_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Dernier jour à Épidaure</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal32">
            <div class="content-img">
              <img src="../assets/philarmonie.jpg" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Philarmonie</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal32" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/philarmonie.jpg" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Philarmonie</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal33">
            <div class="content-img">
              <img src="../assets/105_Oedipe_a_Colonne_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Œdipe à Colonne</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal33" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/105_Oedipe_a_Colonne_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Œdipe à Colonne</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal34">
            <div class="content-img">
              <img src="../assets/67_Coalition_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Coalition</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal34" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/67_Coalition_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Coalition</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal35">
            <div class="content-img">
              <img src="../assets/137_Andromaque_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Andromaque</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal35" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/137_Andromaque_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Andromaque</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal36">
            <div class="content-img">
              <img src="../assets/59_Passe-simple_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Passé simple</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal36" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/59_Passe-simple_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Passé simple</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal37">
            <div class="content-img">
              <img src="../assets/135_Appel_sans_suite_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Appel sans suite</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal37" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/135_Appel_sans_suite_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Appel sans suite</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal38">
            <div class="content-img">
              <img src="../assets/66_Eloignement_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>loignement</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal38" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/66_Eloignement_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Éloignement</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal39">
            <div class="content-img">
              <img src="../assets/49_Archipel_II_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Archipel II</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal39" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/49_Archipel_II_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Archipel II</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal40">
            <div class="content-img">
              <img src="../assets/106_Detail_des_annees_90_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Détail des années 90</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal40" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/106_Detail_des_annees_90_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Détail des années 90</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal41">
            <div class="content-img">
              <img src="../assets/99_Algebre_Huile_sur_toile_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Algèbre sur toile</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal41" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/99_Algebre_Huile_sur_toile_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Algèbre sur toile</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal42">
            <div class="content-img">
              <img src="../assets/127_Archipel_IV_85cmx61cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Archipel IV</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal42" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/127_Archipel_IV_85cmx61cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Archipel IV</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal43">
            <div class="content-img">
              <img src="../assets/109_Equateur_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Equateur</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal43" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/109_Equateur_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Equateur</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal44">
            <div class="content-img">
              <img src="../assets/91_Geometrie_variable_46cmx38cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Géometrie</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal44" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/91_Geometrie_variable_46cmx38cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Géometrie</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
        </div>
        <%# End of the 3rd grid %>
      </div>
    </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
    <%# End of the carousel %>
</div>