<% provide(:title, "Abstraction") %>
<div class="container-1">
  <h1>Abstraction</h1>
  <%# Beginning of the carousel %>
  <div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%# Beginning of the 1st grid of 16 paintures %>
        <div class="container-abs">
        
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
            <div class="content-img">
              <img src="../assets/57_Souvenir_dune_amie_tres_lointaine_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Souvenir d'une amie très lointaine</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/57_Souvenir_dune_amie_tres_lointaine_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Souvenir d'une amie très lointaine</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal2">
            <div class="content-img">
              <img src="../assets/48_Varadeiro_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Varadeiro</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/48_Varadeiro_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Varadeiro</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal3">
            <div class="content-img">
              <img src="../assets/108_Dernier_jour_a_Epidaure_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Dernier jour à Épidaure</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/108_Dernier_jour_a_Epidaure_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Dernier jour à Épidaure</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal4">
            <div class="content-img">
              <img src="../assets/40_effraction_digitale81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Effraction digitale</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/40_effraction_digitale81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Effraction digitale</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal5">
            <div class="content-img">
              <img src="../assets/52_acronyme_d'un_amalgame_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Acronyme d'un amalgame</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/52_acronyme_d'un_amalgame_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Acronyme d'un amalgame</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal6">
            <div class="content-img">
              <img src="../assets/68_Ebauche_incomplete_dune_memoire_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Ébauche incomplète d'une mémoire</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/68_Ebauche_incomplete_dune_memoire_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Ébauche incomplète d'une mémoire</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal7">
            <div class="content-img">
              <img src="../assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>En tout état de cause</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">En tout état de cause</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal8">
            <div class="content-img">
              <img src="../assets/73_Sursis_pour_Charles_Martel_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Sursis pour Charles Martel</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/73_Sursis_pour_Charles_Martel_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Sursis pour Charles Martel</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal9">
            <div class="content-img">
              <img src="../assets/61_Troubles_occasionnels_de_la_mémoire_81cmx65cm.jpg" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Troubles occasionels de la mémoire</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/61_Troubles_occasionnels_de_la_mémoire_81cmx65cm.jpg" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Troubles occasionels de la mémoire</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal10">
            <div class="content-img">
              <img src="../assets/54_Villegiature_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Villégiature</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/54_Villegiature_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Villégiature</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal11">
            <div class="content-img">
              <img src="../assets/131_Archipel_V_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Archipel V</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/131_Archipel_V_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Archipel V</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal12">
            <div class="content-img">
              <img src="../assets/129_Mykonos_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Mykonos</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/129_Mykonos_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Mykonos</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal13">
            <div class="content-img">
              <img src="../assets/39_Jurisprudence_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Jurisprudence</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/39_Jurisprudence_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Jurisprudence</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal14">
            <div class="content-img">
              <img src="../assets/112_Ecoutez_Wolfgang_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Toujours pauvre</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/112_Ecoutez_Wolfgang_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Toujours pauvre</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal15">
            <div class="content-img">
              <img src="../assets/104_Eugene_dans_le_tiroir_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Eugène dans le tiroir</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/104_Eugene_dans_le_tiroir_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Eugène dans le tiroir</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal16">
            <div class="content-img">
              <img src="../assets/86731261_3131630627062198_8178105704293335040_o.jpg" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Vocabulaire</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal16" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/86731261_3131630627062198_8178105704293335040_o.jpg" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Vocabulaire</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
        </div>
        <%# End of the 1st grid %>
      </div>
      <div class="carousel-item">
      <%# Beginning of the 2nd grid of 16 paintures %>
        <div class="container-abs">
        
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
            <div class="content-img">
              <img src="../assets/57_Souvenir_dune_amie_tres_lointaine_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Souvenir d'une amie très lointaine</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/57_Souvenir_dune_amie_tres_lointaine_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Souvenir d'une amie très lointaine</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal2">
            <div class="content-img">
              <img src="../assets/48_Varadeiro_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Varadeiro</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/48_Varadeiro_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Varadeiro</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal3">
            <div class="content-img">
              <img src="../assets/108_Dernier_jour_a_Epidaure_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Dernier jour à Épidaure</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/108_Dernier_jour_a_Epidaure_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Dernier jour à Épidaure</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal4">
            <div class="content-img">
              <img src="../assets/40_effraction_digitale81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Effraction digitale</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/40_effraction_digitale81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Effraction digitale</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal5">
            <div class="content-img">
              <img src="../assets/52_acronyme_d'un_amalgame_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Acronyme d'un amalgame</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/52_acronyme_d'un_amalgame_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Acronyme d'un amalgame</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal6">
            <div class="content-img">
              <img src="../assets/68_Ebauche_incomplete_dune_memoire_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Ébauche incomplète d'une mémoire</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/68_Ebauche_incomplete_dune_memoire_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Ébauche incomplète d'une mémoire</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal7">
            <div class="content-img">
              <img src="../assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>En tout état de cause</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">En tout état de cause</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal8">
            <div class="content-img">
              <img src="../assets/73_Sursis_pour_Charles_Martel_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Sursis pour Charles Martel</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/73_Sursis_pour_Charles_Martel_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Sursis pour Charles Martel</h5>
                  <p class="modal-text-align">1m x 1m</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal9">
            <div class="content-img">
              <img src="../assets/61_Troubles_occasionnels_de_la_mémoire_81cmx65cm.jpg" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Troubles occasionels de la mémoire</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/61_Troubles_occasionnels_de_la_mémoire_81cmx65cm.jpg" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Troubles occasionels de la mémoire</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal10">
            <div class="content-img">
              <img src="../assets/54_Villegiature_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Villégiature</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/54_Villegiature_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Villégiature</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal11">
            <div class="content-img">
              <img src="../assets/131_Archipel_V_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Archipel V</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/131_Archipel_V_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Archipel V</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal12">
            <div class="content-img">
              <img src="../assets/129_Mykonos_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Mykonos</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/129_Mykonos_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Mykonos</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal13">
            <div class="content-img">
              <img src="../assets/39_Jurisprudence_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Jurisprudence</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/39_Jurisprudence_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Jurisprudence</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal14">
            <div class="content-img">
              <img src="../assets/112_Ecoutez_Wolfgang_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Toujours pauvre</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/112_Ecoutez_Wolfgang_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Toujours pauvre</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
            
          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal15">
            <div class="content-img">
              <img src="../assets/104_Eugene_dans_le_tiroir_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Eugène dans le tiroir</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/104_Eugene_dans_le_tiroir_81cmx65cm.JPG" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Eugène dans le tiroir</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal16">
            <div class="content-img">
              <img src="../assets/86731261_3131630627062198_8178105704293335040_o.jpg" class="img-transition" alt="tableau abstrait">
              <div>
                <h4>Vocabulaire</h4>
                <p>81cm x 65cm</p>
              </div>
            </div>
          </button>
          <div class="modal fade" id="exampleModal16" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body modal-text-align">
                  <img src="../assets/86731261_3131630627062198_8178105704293335040_o.jpg" alt="tableau abstrait">
                </div>
                  <h5 class="modal-text-align" id="exampleModalLabel">Vocabulaire</h5>
                  <p class="modal-text-align">81cm x 65cm</p>
              </div>
            </div>
          </div>
        </div>      
      <%# End of the 2nd grid %>
      </div>
    </div>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
  </div>
    <%# End of the carousel %>
</div>