<% provide(:title, "La France que j'aime") %>
<div class="container-1">
  <h1>La France que j'aime</h1>
  <div class="container-abs">
  
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="../assets/4_Tonnerre_Le_petit_Logis_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tonnerre - Le petit logis</h4>
          <p>1m x 1m</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/4_Tonnerre_Le_petit_Logis_1mx1m.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Tonnerre - Le petit logis</h5>
            <p class="modal-text-align">1m x 1m</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal2">
      <div class="content-img">
        <img src="../assets/2_Tonnerre_Eglise_Saint_Pierre_Eglise_Saint_Jean_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tonnerre - Église Saint Pierre, église Saint Jean</h4>
          <p>1m x 1m</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/2_Tonnerre_Eglise_Saint_Pierre_Eglise_Saint_Jean_1mx1m.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Tonnerre - Église Saint Pierre, église Saint Jean</h5>
            <p class="modal-text-align">1m x 1m</p>
        </div>
      </div>
    </div>

    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal3">
      <div class="content-img">
        <img src="../assets/10_Guillon_Village_de_Bourgogne_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Guillon - Village de Bourgogne</h4>
          <p>1m x 1m</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/10_Guillon_Village_de_Bourgogne_1mx1m.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Guillon - Village de Bourgogne</h5>
            <p class="modal-text-align">1m x 1m</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal4">
      <div class="content-img">
        <img src="../assets/9_Tonnerre_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tonnerre</h4>
          <p>1m x 1m</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/9_Tonnerre_1mx1m.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Tonnerre</h5>
            <p class="modal-text-align">1m x 1m</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal5">
      <div class="content-img">
        <img src="../assets/Joigny_pont_1.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Joigny</h4>
          <p>1m x 1m</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/Joigny_pont_1.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Joigny</h5>
            <p class="modal-text-align">1m x 1m</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal6">
      <div class="content-img">
        <img src="../assets/11_Savigny_en_Terre_Plaine_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Savigny en Terre Plaine</h4>
          <p>1m x 1m</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/11_Savigny_en_Terre_Plaine_1mx1m.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Savigny en Terre Plaine</h5>
            <p class="modal-text-align">1m x 1m</p>
        </div>
      </div>
    </div>

    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal7">
      <div class="content-img">
        <img src="../assets/118_Village_de_France_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Époisses</h4>
          <p>1m x 1m</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/118_Village_de_France_1mx1m.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Époisses</h5>
            <p class="modal-text-align">1m x 1m</p>
        </div>
      </div>
    </div>

    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal8">
      <div class="content-img">
        <img src="../assets/22_Avallon_La_Maison_des_Sires_1mx1m.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Avallon - La maison des Sires</h4>
          <p>1m x 1m</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/22_Avallon_La_Maison_des_Sires_1mx1m.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Avallon - La maison des Sires</h5>
            <p class="modal-text-align">1m x 1m</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal9">
      <div class="content-img">
        <img src="../assets/Auxerre_abbatiale_Saint_Germain.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Auxerre - Abbatiale Saint Germain</h4>
          <p>1m50 x 50cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/Auxerre_abbatiale_Saint_Germain.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Auxerre - Abbatiale Saint Germain</h5>
            <p class="modal-text-align">1m50 x 50cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal10">
      <div class="content-img">
        <img src="../assets/14_Bourges_La_maison_de_Jacques_Coeur_1m50x50cm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Bourges - La maison de Jacques Cœur</h4>
          <p>1m50 x 50cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/14_Bourges_La_maison_de_Jacques_Coeur_1m50x50cm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Bourges - La maison de Jacques Cœur</h5>
            <p class="modal-text-align">1m50 x 50cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal11">
      <div class="content-img">
        <img src="../assets/18_Bourges_Lumiere_du_soir_1m50x50cm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Bourges - Lumière du soir</h4>
          <p>1m50 x 50cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/18_Bourges_Lumiere_du_soir_1m50x50cm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Bourges - Lumière du soir</h5>
            <p class="modal-text-align">1m50 x 50cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal12">
      <div class="content-img">
        <img src="../assets/15_Tonnerre_Vue_sur_leglise_Saint_Pierre_1m50x50cm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tonnerre - Vue sur l'église</h4>
          <p>1m50 x 50cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/15_Tonnerre_Vue_sur_leglise_Saint_Pierre_1m50x50cm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Tonnerre - Vue sur l'église</h5>
            <p class="modal-text-align">1m50 x 50cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal13">
      <div class="content-img">
        <img src="../assets/12_Paysage_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Paysage</h4>
          <p>1m x 76cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/12_Paysage_81cmx65cm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Paysage</h5>
            <p class="modal-text-align">1m x 76cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal14">
      <div class="content-img">
        <img src="../assets/123_Bourges_Derriere_la_cathedrale_81cmx65xm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Bourges - Derrière la cathédrale</h4>
          <p>81cm x 59cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/123_Bourges_Derriere_la_cathedrale_81cmx65xm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Bourges - Derrière la cathédrale</h5>
            <p class="modal-text-align">81cm x 59cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal15">
      <div class="content-img">
        <img src="../assets/124_Montlucon_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Montluçon</h4>
          <p>81cm x 65cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/124_Montlucon_81cmx65cm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Montluçon</h5>
            <p class="modal-text-align">81cm x 65cm</p>
        </div>
      </div>
    </div>

    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal16">
      <div class="content-img">
        <img src="../assets/5_Tonnerre_Eglise_Saint_Pierre_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tonnerre - Église Saint Pierre</h4>
          <p>81cm x 65cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal16" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/5_Tonnerre_Eglise_Saint_Pierre_81cmx65cm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Tonnerre - Église Saint Pierre</h5>
            <p class="modal-text-align">81cm x 65cm</p>
        </div>
      </div>
    </div>

    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal17">
      <div class="content-img">
        <img src="../assets/6_Tonnerre_Ete_1mx73cm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tonnerre - Éte</h4>
          <p>1m x 76cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal17" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/6_Tonnerre_Ete_1mx73cm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Tonnerre - Éte</h5>
            <p class="modal-text-align">1m x 76cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal18">
      <div class="content-img">
        <img src="../assets/7_Tonnerre_Lumiere_dautomne_1mx73cm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tonnerre - Lumière d'automne</h4>
          <p>1m x 76cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal18" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/7_Tonnerre_Lumiere_dautomne_1mx73cm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Tonnerre - Lumière d'automne</h5>
            <p class="modal-text-align">1m x 76cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal19">
      <div class="content-img">
        <img src="../assets/8_Bourges_La_Cathedrale_1mx73cm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Bourges - La cathédrale</h4>
          <p>1m x 76cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal19" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/8_Bourges_La_Cathedrale_1mx73cm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Bourges - La cathédrale</h5>
            <p class="modal-text-align">1m x 76cm</p>
        </div>
      </div>
    </div>

    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal20">
      <div class="content-img">
        <img src="../assets/Ancy_le_franc_81cmx65cm.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Ancy le Franc</h4>
          <p>1m x 76cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal20" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/Ancy_le_franc_81cmx65cm.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Ancy le Franc</h5>
            <p class="modal-text-align">1m x 76cm</p>
        </div>
      </div>
    </div>
  
  </div>
</div>