<% provide(:title, "Marine") %>
<div class="container-1">
  <h2>Marine</h2>
  <div class="container-abs">

    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="../assets/25_Trop_tard_81mx65cm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Trop tard</h4>
          <p>81cm x 65cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/25_Trop_tard_81mx65cm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Trop tard</h5>
            <p class="modal-text-align">81cm x 65cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal2">
      <div class="content-img">
        <img src="../assets/Marine_1m90mx80cm.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Marine 1</h4>
          <p>1m90 x 80cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/Marine_1m90mx80cm.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Marine 1</h5>
            <p class="modal-text-align">1m90 x 80cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal3">
      <div class="content-img">
        <img src="../assets/Marine_2mx80cm.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Marine 2</h4>
          <p>2m x 80cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/Marine_2mx80cm.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Marine 2</h5>
            <p class="modal-text-align">2m x 80cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal4">
      <div class="content-img">
        <img src="../assets/St_Jean_Cap_Ferrat_81cmx65cm.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>St Jean Cap Ferrat</h4>
          <p>81cm x 65cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="../assets/St_Jean_Cap_Ferrat_81cmx65cm.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">St Jean Cap Ferrat</h5>
            <p class="modal-text-align">81cm x 65cm</p>
        </div>
      </div>
    </div>
  </div>

</div>