.container-art {
  width: 65%;
  margin: auto;
}
.container-art p {
  color: wheat;
  text-indent: 2em;
  text-align: justify;
  font-style: italic;
}
.img-float-left {
  width: 11em;
  float: left;
  margin-right: 1em;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.img-float-right {
  width: 9em;
  float: right;
  margin-left: 1em;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}