.black-bg {
  background-color: black;
}
.container-art {
  width: 70%;
  margin: auto;
  padding: 20px;
}
.container-art p {
  color: white;
  text-indent: 2em;
  text-align: justify;
  font-style: italic;
}