<div class="footer">
  <div>
    <span class="trick">Credits</span>
    <span class="hide"><%= (t 'footer.stan') %><%= link_to "SLegrez", "https://www.linkedin.com/in/stanislas-legrez-7125a573/", id: 'me', target: "_blank", rel: "noopener" %></span>
  </div>
  <% if I18n.locale == I18n.default_locale %>
    <%= link_to image_tag("united-kingdom.png"), { :locale => 'en' } %>
  <% else %>
    <%= link_to image_tag("france.png"), { :locale => 'fr' } %>
  <%end%>
</div>