<div class="navbar-top">
  <ul>
    <li><%= link_to "Accueil", root_path %></li>
    <li class="flex-align-center"><%= link_to "L'art en question", lart_en_question_path %></li>
    <li class="right"><%= link_to "Contact", contact_path %></li>
    <li class="right"><%= link_to "Contact", contact_path %></li>
  </ul>
</div>