<div class="container-abstrait">
  <h1>Abstraction</h1>
  <div class="container-abs">
  
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
  
  </div>
</div>