<% provide(:title, "Abstraction") %>
<div class="container-1">
  <h1>Abstraction</h1>
  <p>Toutes les peintures sont des huiles sur toile</p>
  <div class="container-abs">
  
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>En tout état de cause</h4>
          <p>81cm x 65cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">En tout état de cause</h5>
            <p class="modal-text-align">81cm x 65cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal2">
      <div class="content-img">
        <img src="assets/61_Troubles_occasionnels_de_la_mémoire_81cmx65cm.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Troubles occasionels de la mémoire</h4>
          <p>81cm x 65cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/61_Troubles_occasionnels_de_la_mémoire_81cmx65cm.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Troubles occasionels de la mémoire</h5>
            <p class="modal-text-align">81cm x 65cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal3">
      <div class="content-img">
        <img src="assets/71_si_loin_de_toi_si_loin_de_moi_81cmx65cm.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Si loin de toi si loin de moi</h4>
          <p>81cm x 65cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/71_si_loin_de_toi_si_loin_de_moi_81cmx65cm.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Si loin de toi si loin de moi</h5>
            <p class="modal-text-align">81cm x 65cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal4">
      <div class="content-img">
        <img src="assets/28_Dar_es_Salam1mx1m.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Dar es Salam</h4>
          <p>1m x 1m</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/28_Dar_es_Salam1mx1m.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Dar es Salam</h5>
            <p class="modal-text-align">1m x 1m</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal5">
      <div class="content-img">
        <img src="assets/40_effraction_digitale81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Effraction digitale</h4>
          <p>81cm x 65cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/40_effraction_digitale81cmx65cm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Effraction digitale</h5>
            <p class="modal-text-align">81cm x 65cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal6">
      <div class="content-img">
        <img src="assets/43_Profil81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Profil</h4>
          <p>81cm x 65cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/43_Profil81cmx65cm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Profil</h5>
            <p class="modal-text-align">81cm x 65cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal7">
      <div class="content-img">
        <img src="assets/52_acronyme_d'un_amalgame_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Acronyme d'un amalgame</h4>
          <p>81cm x 65cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/52_acronyme_d'un_amalgame_81cmx65cm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Acronyme d'un amalgame</h5>
            <p class="modal-text-align">81cm x 65cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal8">
      <div class="content-img">
        <img src="assets/66_Eloignement_81cmx65cm.JPG" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Eloignement</h4>
          <p>81cm x 65cm</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/66_Eloignement_81cmx65cm.JPG" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Eloignement</h5>
            <p class="modal-text-align">81cm x 65cm</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal9">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal10">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal11">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal12">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal13">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal14">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal15">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
      
    <button type="button" class="btn shadow-none" style="padding: 0 !important" data-toggle="modal" data-target="#exampleModal16">
      <div class="content-img">
        <img src="assets/114_En_tout_état_de_cause_81x65.jpg" class="img-transition" alt="tableau abstrait">
        <div>
          <h4>Tableau</h4>
          <p>Format</p>
        </div>
      </div>
    </button>
    <div class="modal fade" id="exampleModal16" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body modal-text-align">
            <img src="assets/114_En_tout_état_de_cause_81x65.jpg" alt="tableau abstrait">
          </div>
            <h5 class="modal-text-align" id="exampleModalLabel">Nom Tableau</h5>
            <p class="modal-text-align">Format</p>
        </div>
      </div>
    </div>
  </div>
</div>