<div class="bg-home">
  <h1>Jacques Legrez</h1>
</div>
<div class="container">
  <div class="description">
    <img class="avatar">
    <div class="infos">
      <h2>Biographie</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut a accusantium velit aliquam alias, eligendi quo quae obcaecati molestiae ea dolorem culpa officia debitis voluptas. Similique reiciendis dolorum alias necessitatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ex iure. Eligendi quam libero ea suscipit dignissimos nesciunt animi, aliquam voluptatibus tenetur molestias quasi repellat accusamus ut commodi, expedita porro?</p>
    </div>
  </div>
</div>