<% provide(:title, "L'art en question") %>
<div class="black-bg">
  <div class="container-art">
    <p>
      « Peindre, c'est commencer par se taire. Et écouter. Ecouter les gens, les objets, les
      silences, les courants d'air. Comment résister au temps et à la précarité autrement que par
      l'acte créateur ? A t-on rien inventé de plus merveilleux que la main, ce coquillage  de
      chair, de sang et d'amour qui recueille l'émotion et qui couche l'émotion sur la toile dans
      une vue de l'esprit ? Dans les premiers temps de la création, ils furent quelques uns à
      dessiner en pleine nuit, d'une main tremblante sur les parois d'une grotte. Pour mieux
      conjurer le destin sanglant et misérable qui leur était réservé, la figure libre d'un animal
      pris sur le vif devint pour eux l'embryon d'une vie meilleure. Cette fiction jettait les
      bases d'un monde vierge de tout danger par le seul pouvoir encore fragile de l'imagination.
      Quelques milliers d'années plus tard, ce sont les mêmes hommes, une poignée, qui dans la
      plaine de Marathon choisirent de repousser l'envahisseur et vécurent l'enfer de la mort sous
      les haches et les couteaux des barbares. La colline  de l'Acropole, les marbres du Parthenon,
      la circonférence du théâtre d'Epidaure tourné vers la mer, présents dans leur chair et leur
      sang, galvanisaient leurs forces. Vint la Renaissance. Botticelli fixa le printemps sans que
      le moindre nuage ne vienne assombrir la fraîcheur de sa composition malgré les années. Le
      Caravage modela le jour et la nuit sur le visage de chacun de ses personnages. Il disparut,
      conservant comme un secret la perfection de toute forme humaine. L'homme dont la main
      tremblait dans la nuit des temps ne s'était pas résigné. Il poursuivait son chemin sur la
      voie de l'imaginaire et se rapprochait du rêve dans l'apprentissage de la ligne et de la
      matière. Son audace nourrie par sa vision distinguait la beauté de la lumière pour mieux les
      associer dans le manteau d'une oeuvre d'art, hissant la civilisation occidentale à bout de
      bras. Tel un flambeau, celle-ci distribuait à la fois l'inquiétude et le bonheur et rayonnait
      sur le monde. Puis vinrent des hommes nouveaux. Ils alignerent des kilomètres de rails.
      Vinrent les locomotives. Les moteurs. Puis le brouillard des locomotives, le bruit des
      moteurs. Il fallut établir une norme. Ce fut la ligne droite. Il fallut l'habiller. On lui
      offrit la vitesse.
    </p>
    <p>
      Maitriser la vitesse, enchaîner les records mobilisa toutes les énergies. Dans le silence des
      laboratoires et le labyrinthe de la recherche expérimentale, l'homme moissonna les
      découvertes, démasqua les inconnues et perdit son coeur. Son télescope orienté à la verticale
      lui ouvrit les ténèbres de l'espace. L'esprit de conquête s'activait. Fini l'ouïe, le
      toucher, l'odorat. Perdu le sourire et les larmes. Abandonnée la sueur, le sperme et la
      salive. Un froid polaire se préparait à ensevelir le miel de l'existence. Effectuer un détour
      devint une perte de temps. La courbe, cette oscillation du trait qui suggère la nuance fut
      remisée au placard. Regarder pour voir fut considéré comme une faiblesse. S'attarder, une
      anomalie. Il fallait agir. Et vite. Suivre son instinct fut perçu comme un enfantillage.
      Chercher l'âme de toute chose, une démission.
    </p>
    <p>
      Aujourd'hui, qui oserait prendre les armes pour defendre et sauver le palais de Jacques Coeur
      à Bourges, les croisés d'ogives de la cathédrale de Chartres, la mémoire d'Arthur Rimbaud ?
      Qui acccepterait de risquer sa vie pour les jardins de Le Nôtre, les murs de Chambord, la
      vallée de la Loire ou les remparts de Carcassonne ? Qui accepterait de perdre tout crédit
      pour redevenir ce qu'il a toujours été ? Qui accepterait d'être tout simplement lui-même pour
      exister ? Et s'il fallait au fond tout recommencer ? Commencer par se taire. Avoir peur. Et
      dans les plis d'une nuit bleue et froide de décembre, ressentir. Et trembler. »
    </p>
  </div>
</div>