.container-1 {
  background-color: black;
  p {
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 1em;
  }
}
.container-abs {
  width: 80%;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: auto;
  margin-bottom: 4em;
  img {
    max-height: 13em;
    height: 100%; 
    width: 100%;
  }
}
.container-portrait {
  width: 80%;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: auto;
  margin-bottom: 4em;
  img {
    max-height: 13em;
    max-width: 100%;
    height: 100%; 
    width: 100%;
  }
}
.color-wheat {
  color: wheat;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  margin-bottom: 4em !important;
}
.d-grid {
  display: grid;
}
.intelligent-h2 {
  padding-bottom: 0em;
}
.intelligent-p {
  padding-bottom: 2em;
  font-size: smaller;
}
.img-transition {
  transition: 0.4s !important;
}
.img-transition:hover {
  opacity: 0.5;
  z-index: 1;
}
.large {
  font-size: large;
}
.modal-content {
  color: white;
  background: none !important;
  border: none !important;
  border-radius: 0px !important;
}
.modal-body img {
  max-width: 100%;
  max-height: 100%;
}
.modal-text-align {
  text-align: center;
}
.modal-backdrop {
  opacity:0.8 !important;
}
.nombre {
  font-size: small;
}
.content-img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.content-img div{
  position: absolute;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
}
.content-img:hover div{
  visibility: visible;
  opacity: 1; 
}
.modal-body img {
  max-width: 100%;
  max-height: 100%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container-portrait {
    grid-template-columns: 1fr;
  }
  .close {
    color: white !important;
    text-shadow: none !important;
    opacity: 0.9 !important;
    text-align: right !important;
    padding-right: 1rem !important;
  }
}

@media (min-width: 415px) {
  .close {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-portrait {
    grid-template-columns: 1fr 1fr;
  }
  // .close {
  //   display: none;
  // }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-portrait {
    grid-template-columns: 1fr 1fr 1fr;
  }
  // .close {
  //   display: none;
  // }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-portrait {
    grid-template-columns: 1fr 1fr 1fr;
  }
  // .close {
  //   display: none;
  // }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-portrait {
    grid-template-columns: 1fr 1fr 1fr;
  }
  // .close {
  //   display: none;
  // }
}