.navbar-top {
  display: flex;
  width: 100%;
  height: 4em;
  background-color: burlywood;
  justify-content: center;
  align-items: center;
  a {
    color: black;
    display: block;
    border-bottom: 2px solid yellow;
    margin: 10px;
    padding: 10px 0px;
    text-decoration: none;
  }
  a:hover {
    color: orange;
    border-bottom: 2px solid gold;
  }
  a:visited {
    color: black;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  ul li {
    float: left;
    width: 15em;
    text-align: center;
    position: relative;
  }
  ul:after {
    content: "";
    display: table;
    clear: both;
  }
  ul li:hover .under {
    display: block;
  }
  .under {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    z-index: 1000;
    width: 100%;
  }
  .under li {
    float: none;
    width: 100%;
    text-align: center;
  }
  .under a {
    padding: 10px;
    border-bottom: none;
  }
  .under a:hover {
    border-bottom: none;
    background-color: antiquewhite;
  }
}