/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'components/navbar.scss';
@import 'components/avatar.scss';
@import 'bootstrap/scss/bootstrap';

body {
  margin: 0px;
  background-color: black;
  h1 {
    font-family: 'Caveat', sans-serif;
  }
  p, a, h2 {
    font-family: 'Karla', sans-serif;
  }
}
// iphone 6 & 7 
@media (min-width: 100px) and (max-width: 400px) {
  .container-abs {
    grid-template-columns: 1fr;
  }
  .navbar-top ul li {
    width: 5em;
    height: 4em;
  }
}

// Smallest device
@media (min-width: 400px) and (max-width: 575px) {
  .container-abs {
    grid-template-columns: 1fr;
  }
  .navbar-top ul li {
    width: 6em;
    height: 4em;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-abs {
    grid-template-columns: 1fr 1fr;
  }
  .navbar-top ul li {
    width: 8em;
    height: 4em;
  }
}

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .container-abs {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
//   .navbar-top ul li {
//     width: 11em;
//   }
// }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-abs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .navbar-top ul li {
    width: 15em;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-abs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .navbar-top ul li {
    width: 15em;
  }
}